.calendar-navigation {
  color: #dfdfdf;
  font-size: 19px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #3d3d3d;
  margin-bottom: 10px;

  .arrow {
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}